<nav class="navbar-bottom">
    <div class="container">
    <div class="social-media-icons">
            <a href="https://www.instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/yourusername" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.x.com/yourusername" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/c/yourchannelname" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.pinterest.com/yourusername" target="_blank"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</nav>
