<nav class="navbar">
    <div class="nav-container">
        <a href="/">Ratatoullie</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/post">Make a new post</a></li>
            {{#if loggedIn}}
                <li><a href="/profile">My Profile</a></li>
                <li><a id="logout"  href="/login">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
