<div class="container">
    <h1>Discover recipes!</h1>
    <form class="search-form" id="searchBar">
        <input id ="search-text" type="text" placeholder="Search recipes..." name="search">
        <button id="submit-search-button" type="submit">Search</button>
    </form>
</div>
<script src="../js/get-recipe.js"></script>
