

/* Container styling */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

/* Form container */
.form-login-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}

/* Heading styling */

/* Form styling */
.form-login-form, .form-signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input styling */
.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
.btn-primary {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

/* Responsive styling for small screens */
@media screen and (max-width: 480px) {
    .container {
        width: 80%;
    }
}
